@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&family=Merriweather:wght@300;400;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

body{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: #304352;
}
.container{
    max-width:  1000px;
    margin:     0 auto;
    text-align: center;
}
header{
    background-color: #deecdd;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 15px 0;
    border-bottom: 1px solid #deecdd;
}
header a{
    color: #304352; 
    font-size: 19px;
    text-decoration: none;
}
header .logo{
    font-weight: 500;
    font-size: 29px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

header nav ul li {
    display: inline-block;
    margin-left: 15px;
}

h1.title{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #485563;
}
main{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}
p, h1{
    margin: .9rem 0;
}
p{
    font-size: 16px;
    line-height: 28px;
}